
.ModalBannerContainer {
    background-position: center center;
    background-size: cover;
    margin-top: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    .ArticleModal {
        background-color:rgba(0,33,96,.8);
        padding: 35px;
        color: white;
        margin-left: 15px;
        margin-right: 15px;
        h2{
            text-transform:uppercase;
            font-size:26px;
            line-height: 1.2;
            margin-top: 0;
        }
        p{
            font-size:18px;
            line-height:26px;
            font-weight: 300;
        }

    }
}

@media (max-width:768px){
    .ModalBannerContainer {
        .ArticleModal {
            margin-left:0;
            margin-right: 0;
        }
    }    
}
